@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



@import "tailwindcss";



/* Example: apply fonts to tags */


body{
  font-family: 'Roboto', sans-serif;

 
}
/* Scrollbar styling for modern browsers */
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(236, 156, 8);
  border-radius: 10px;
  border: 2px solid black;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: orange black;
}

